@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Laila:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Matemasie&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.css */
@layer utilities {
  ::selection {
    @apply bg-selectionBg text-selectionText;
  }
}

/* ::root */

:root {
  --std_padding: 24px; /* 6*4 px */
  --std_spacing: 24px;
  --std_sub_spacing: 16px;
  --std_primary_color: #0000;
  --std_primary_bg_color: #ffff;
  --std_font_family: "Inter", serif;
  --std_heading_size_xl: 72px;
  --std_sub_heading_xl: 18px;
}

.bungee-tint {
  font-family: "Bungee Tint", serif;
}
.inter {
  font-family: "Inter", serif;
}
.lato {
  font-family: "Lato", serif;
}
.matemasie {
  font-family: "Matemasie", serif;
}
.merriweather {
  font-family: "Merriweather", serif;
}
.montserrat {
  font-family: "Montserrat", serif;
}
.new-amsterdam {
  font-family: "New Amsterdam", serif;
}
.open-sans {
  font-family: "Open Sans", serif;
}
.playfair-display {
  font-family: "Playfair Display", serif;
}
.poppins {
  font-family: "Poppins", serif;
}
.raleway {
  font-family: "Raleway", serif;
}
.roboto {
  font-family: "Roboto", serif;
}
.laila {
  font-family: "Laila", serif;
}
.playwrite-au-sa {
  font-family: "Playwrite AU SA", serif;
}

/* css styles */

.input-field {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body h1 {
  font-family: "Raleway", serif;
}
body p {
  font-family: "Laila", serif;
}

/* version 4 styles */
/* gradient text */
.gradientName {
  /* dark */
  /* background: repeating-linear-gradient(transparent, #fffb00 40px),
    repeating-linear-gradient(0.25turn, transparent, #ffffff 20px); */
  /* light */
  background: repeating-linear-gradient(transparent, #4d9f0c 40px),
    repeating-linear-gradient(0.25turn, transparent, #3f87a6 20px);
  background-position: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: animateNameGradient 3s linear infinite; */
}

/* @keyframes animateNameGradient {
  0% {
    background-position: 0% 50%;
  }
  100%{
    background-position: 100% 50%;
  }
} */

/* styles for landing page */
.landingPageBg {
  background:
  /* dark */ linear-gradient(
      17deg,
      rgba(224, 11, 189, 0.08),
      transparent 75.4%
    ),
    linear-gradient(127deg, rgba(6, 216, 240, 0.08), transparent 75.4%),
    linear-gradient(336deg, rgba(64, 238, 11, 0.08), transparent 75.4%);
  /* light */

  /* linear-gradient(217deg, rgba(252, 213, 213, 0.8), transparent 70.71%),
  linear-gradient(127deg, rgba(221, 249, 221, 0.8), transparent 70.71%),
  linear-gradient(336deg, rgba(185, 185, 255, 0.8), transparent 70.71%); */
}

/* content */
.blockquote {
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%), 0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}

/* sub heading text gradient background !not-using*/
.subHeadingGradient {
  background: linear-gradient(15deg, rgba(104, 66, 98, 0.08), transparent 75.4%),
    linear-gradient(90deg, rgba(210, 223, 224, 0.08), transparent 75.4%),
    linear-gradient(180deg, rgba(99, 235, 58, 0.08), transparent 75.4%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* border image in landing page */
.bdrImgLandingPage {
  border-image: url("/borderImage.png") 90 / 19px round;
}
.bdrImg2LandingPage {
  border-image: url("/borderImage2.png") 90 / 9px round;
}
.bdrImg3LandingPage {
  border-image: url("/borderImage3.png") 90 / 19px round;
}

/* register and login styles */
.ccRegisterPageBg {
  background:linear-gradient(
      45deg,
      rgba(93, 222, 7, 0.08),
      transparent 95.4%
    ),
    linear-gradient(145deg, rgba(2, 2, 255, 0.08), transparent 95.4%),
    linear-gradient(245deg, rgba(255, 7, 197, 0.08), transparent 95.4%);
}
